
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-weight: bold;
}

.content {
    padding: 1rem;
    margin: 0 auto;
    height: 100vh;
    background-color: white;
    max-width: 100vh;
}
