
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-weight: bold;
}
body {
    background-color: rgb(246, 251, 240);
}

.content {
    padding: 1rem;
    margin: 0 auto;
    height: 100%;
    background-color:white;
    max-width: 100%;
}
